@font-face {
    font-family: 'chris';
    src: local('French Kiss KG script Regular'), local('FrenchKissKGscript-Regular'),
        url('FrenchKissKGscript-Regular.woff2') format('woff2'),
        url('FrenchKissKGscript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

