body {
	background-color: #121212;
	/* Тёмный фон страницы */
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.inner-hero {

	display: flex;
	flex-direction: column;

}

.hero-text {
	width: 442px;
	height: 620px;
	background-image: url('my-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 12px;
	margin: 24px;
	background-image: url(./text.jpg);
}

span {
	font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
	font-size: 20px;
	padding: 188px 24px 20px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}