* {
	box-sizing: border-box;
}

body {
	background-color: #121212;
	/* Тёмный фон страницы */
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner {
	width: 883px;
	height: 642px;
	padding: 24px;
}

.center-section {
	width: 100%;
	height: 100%;
	background-image: url('my-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 12px;
	padding: 10px;
	position: relative;
	font-family: 'chris';
	font-size: 32px;
	font-weight: 500;
	color: #121212;
	letter-spacing: 6px;
	font-weight: 600;
}

.user,
.ded-moroz,
.index-city {
	display: flex;
	flex-direction: column;
	/*position: absolute;*/
}

.user {
	margin-top: 5.6%;
	margin-left: 18%;
	/*top: 57px;
	left: 158px;*/
}

.user-name,
.recipient {
	margin-bottom: 2px;
}

.ded-moroz {
	margin-top: 25.6%;
	margin-left: 58%;
	/*right: 54px;
	bottom: 198px;*/
}

.index-city {
	margin-left: 501px;
	margin-top: 48px;

}


.btn-next {
	position: absolute;
	bottom: 30px;
	right: 30px;
	background-color: #ff2600;
	color: white;
	text-decoration: none;
	padding: 12px 24px;
	border-radius: 8px;
	font-family: 'chris', sans-serif;
	font-size: 34px;


	font-weight: normal;
	font-style: normal;


	text-transform: capitalize;
	letter-spacing: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-next:hover {
	background-color: #093992cb;
	transform: scale(1.05);
}