/*============================ХЕДЕР-сам сделал==========================================*/

.header {
	
	max-height: 712px;
	height: 100%;
	background: url("../img/Hero.png") no-repeat 50% 100% / cover;
}

.header__logo {
	display: block;
	max-width: 174px;
	z-index: 12;
}

.header__logo img {
	width: 100%;
}

.header__top {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 19px;
}

/* !ОШИБКА С ФОНОМ */
/*.img-bg {
	position: absolute;
	top: 0;
	z-index: -2;
	max-width: 100%;
}*/

.nav__menu {
	display: flex;
	gap: 5vh 40px;
}

/*===================бургер по видео================================*/
.burger-top {
	display: none;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	z-index: 11;
	/* для адаптива*/
}

.body--opened-menu .burger-top span {
	background: transparent;
}

.body--opened-menu .burger-top span::after {
	top: 0px;
	transform: rotate(-45deg);

}


.body--opened-menu .burger-top span::before {
	bottom: 0px;
	transform: rotate(45deg);
}

/* это область клика для открытия бургер меню */

.burger-top span,
.burger-top span::after,
.burger-top span::before {
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 50%;
	background: #000;
	position: relative;
	content: '';
	transition: var(--transition);
}

.burger-top span::after {
	position: absolute;
	top: -8px;
}

.burger-top span::before {
	position: absolute;
	bottom: -8px;
}



/*===================================================================*/

.nav__link {
	position: relative;
	z-index: 0;
	padding: 5px 0px;
	/*! добавили отступ что бы область клика была больше*/
	display: block;

}

.nav__link::before {
	position: absolute;
	bottom: 8px;
	left: -13px;
	z-index: -1;
	content: ' ';
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: var(--accent-color);
	opacity: 0;
	transition: var(--transition);
}

.nav__link:hover::before {
	opacity: 1;
}

/*========================Хедер-Хиро(header__hero)============================*/

.header__hero {
	padding: 48px 0px 140px;
}

.hero__inner {
	display: flex;
	align-items: flex-end;
	gap: 137px;
}

.hero__content {
	display: flex;
	max-width: 519px;
}

.course-start {
	display: flex;
	gap: 10px;
	color: #B197B2;
	text-transform: uppercase;
	line-height: 1.9;
}

.hero__title {
	font-family: 'Gabriola';
	font-size: 74px;
	font-style: normal;
	font-weight: 400;
	line-height: 0.82;
	margin-top: 20px;
}

.hero__accent {
	max-width: 358px;
	margin-top: 30px;
}

.button__hero {
	margin-top: 40px;
	max-width: 358px;
}

.hero__img {
	display: flex;
	align-items: flex-end;
	gap: 8px;
	position: relative;
	z-index: 0;
	left: 46px;
	right: 47px;
}

.hero__img::before {
	content: '';
	position: absolute;
	left: -46px;
	right: -47px;
	bottom: 0px;
	z-index: -1;
	width: 377px;
	height: 372px;
	border-radius: 20px;
	background: #CEAAD0;
}

.img__play-content {
	margin-bottom: 51px;
	max-width: 200px;
	max-height: 100px;
	/*border: 1px solid #000;*/
	display: flex;
	align-items: center;
	gap: 10px;
}

.img__play-content--mobile {
	display: none;
}

.play-content--circle {
	position: relative;
	z-index: 1;
	background: var(--accent-bg);
	max-width: 78px;
	max-height: 78px;
	border-radius: 50%;
	padding: 26.1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.play-content--circle::before {
	content: ' ';
	position: absolute;
	z-index: -1;
	opacity: 0;
	border: 1px solid var(--accent-color);
	border-radius: 50%;
	/*! равномерное растоение со всех сторон, при POSITION*/
	inset: 5px;
	/*!===========*/
	transition: var(--transition);
}

.play-content--circle:hover::before {
	opacity: 1;
}

.play-content__text {
	color: var(--general-text);
}