/*==========================Майн==============================================*/


/*=========================УБРАТЬ после работы================================*/


/*============================================================================*/
.our-school {
	display: grid;
}

.our-school__inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, auto);
	

	column-gap: 53px;

	/*display: flex;*/
	/*max-height: 543px;*/

}

.our-school__img {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 20px;
	grid-row: 1 / 3;
	/*object-fit: cover;
	object-position: 0 50%;*/
	
}
.our-school__img img {
}


.our-school__gift {
	position: absolute;
	left: 30px;
	bottom: 25px;

	display: flex;
	gap: 10px;
	padding: 15px 20px;
	max-width: 299px;
	border-radius: 20px;
	background: #957b97e6;
	color: var(--general-bg);
}

/*! кнопка открытия модалки*/
.gift-btn__icon {
	position: relative;
	max-width: 78px;
	max-height: 78px;
	border-radius: 50%;
	padding: 22.4px;
	background: var(--general-bg);
	cursor: pointer;
}

.gift-btn__icon::before {
	position: absolute;
	inset: 5px;

	content: ' ';
	opacity: 0;
	border: 1px solid #CEAAD0;

	max-width: 78px;
	max-height: 78px;
	border-radius: 50%;

	transition: var(--transition);
}

.gift-btn__icon:hover:before {
	opacity: 1;
}

.our-school__title {
	font-family: 'Gabriola';
	font-size: 74px;
	line-height: 0.82;
	color: var(--accent-text);
}

.our-school__text {
	padding-top: 30px;
	max-width: 623px;

}

.our-school__content {
	padding-top: 40px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
	grid-column: -2/-1;
}

.content__item-one {
	border-radius: 20px;
	padding: 29px 23.5px;
}

.content__item-two {
	border-radius: 20px;
	padding: 35px 23.5px;
}

.content__item-one,
.content__item-two {
	width: 296px;
	max-height: 160px;
	background: var(--accent-bg);
	display: flex;
	gap: 15px;
	align-items: center;
}

.item-one__icon,
.item-two__icon {
	width: 60px;
	height: 60px;
	border: 1px solid #000;
	padding: 17px;
	border-radius: 50%;

}

.content__item-one>span {
	width: 150px;
}