 /@font-face {
 	font-family: "Oxy";
 	src: url(./fonts/Oxygen/Oxygen-Bold.ttf);
 }

 @font-face {
 	font-family: "Rev";
 	src: url(./fonts/Revalia/Revalia-Regular.ttf);
 }

 .text-1 {
 	font-family: "Open sans", "Courier", sans-serif;
 	font-size: 20px;
 	line-height: 30px;
 	font-style: italic;
 	font-weight: 300;
 }

 .text-2 {
 	font-family: "Rev", "Courier", serif;
 	font-weight: normal;
 	text-decoration: line-through;

 }

 .text-3 {
 	font-family: Arial, sens-serif;
 	font-weight: 300;
 	text-align: center;
 	text-transform: uppercase;
 }

 .text-4 {
 	word-spacing: 30px;
 	text-decoration: overline;
 	text-decoration-style: wavy;
 	text-shadow: -1px 1px 2px #0a3c75
 }

 .text-5 {
 	letter-spacing: 5px;
 	text-decoration: underline;
	text-decoration-style: double;
 }