@font-face {
    font-family: 'Unbounded Blond';
    src: local('Unbounded Blond'), local('Unbounded-Blond'),
        url('Unbounded-Blond.woff2') format('woff2'),
        url('Unbounded-Blond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

