@font-face {
    font-family: 'Furore';
    src: local('Furore'),
        url('Furore.woff2') format('woff2'),
        url('Furore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

