:root {
	/* цвет основного шрифта*/
	--general-text: #312C27;

	/* Заголовки цвет шрифта*/
	--accent-text: #1F1711;

	/* основной цвет фона сайта*/
	--general-bg: #FFF9F4;

	/* акцентынй фон, таких как фон хедера и футера*/
	--accent-bg: #FFE0CB;

	/* фон кнопок и ползунков*/
	--accent-color: #FFA55C;

	/* запуск ховер эфекта */
	--transition: all .4s;
}

body {
	font-family: "Montserrat", "Arial", sans-serif;
	line-height: 1.5;
	font-weight: normal;
	color: var(--general-text);
	background: var(--general-bg);
}

.body--opened-menu {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1279px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;

}

.main {
	flex-grow: 1;
}

section {
	margin-top: 140px;
}

.button {
	max-width: 308px;
	max-height: 62px;

	padding: 18px 36px;

	background: var(--accent-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;

	font-size: 16px;
	font-weight: 500;
	line-height: 1.6;
	transition: var(--transition);
}

.button:hover {
	background: #FF9138;
}

/*============================ХЕДЕР-сам сделал==========================================*/

.header {
	/*display: none;*/
	max-height: 712px;
	height: 100%;
	background: url("/project/wake&bake/img/Hero.png") no-repeat 50% 100% / cover;
}

.header__logo {
	display: block;
	max-width: 174px;
	z-index: 12;
}

.header__logo img {
	width: 100%;
}

.header__top {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 19px;
}

/* !ОШИБКА С ФОНОМ */
/*.img-bg {
	position: absolute;
	top: 0;
	z-index: -2;
	max-width: 100%;
}*/

.nav__menu {
	display: flex;
	gap: 5vh 40px;
}

/*===================бургер по видео================================*/
.burger-top {
	display: none;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	z-index: 11;
	/* для адаптива*/
}

.body--opened-menu .burger-top span {
	background: transparent;
}

.body--opened-menu .burger-top span::after {
	top: 0px;
	transform: rotate(-45deg);

}


.body--opened-menu .burger-top span::before {
	bottom: 0px;
	transform: rotate(45deg);
}

/* это область клика для открытия бургер меню */

.burger-top span,
.burger-top span::after,
.burger-top span::before {
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 50%;
	background: #000;
	position: relative;
	content: '';
	transition: var(--transition);
}

.burger-top span::after {
	position: absolute;
	top: -8px;
}

.burger-top span::before {
	position: absolute;
	bottom: -8px;
}



/*===================================================================*/

.nav__link {
	position: relative;
	z-index: 0;
	padding: 5px 0px;
	/*! добавили отступ что бы область клика была больше*/
	display: block;

}

.nav__link::before {
	position: absolute;
	bottom: 8px;
	left: -13px;
	z-index: -1;
	content: ' ';
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: var(--accent-color);
	opacity: 0;
	transition: var(--transition);
}

.nav__link:hover::before {
	opacity: 1;
}

/*========================Хедер-Хиро(header__hero)============================*/

.header__hero {
	padding: 48px 0px 140px;
}

.hero__inner {
	display: flex;
	align-items: flex-end;
	gap: 137px;
}

.hero__content {
	display: flex;
	max-width: 519px;
}

.course-start {
	display: flex;
	gap: 10px;
	color: #B197B2;
	text-transform: uppercase;
	line-height: 1.9;
}

.hero__title {
	font-family: 'Gabriola';
	font-size: 74px;
	font-style: normal;
	font-weight: 400;
	line-height: 0.82;
	margin-top: 20px;
}

.hero__accent {
	max-width: 358px;
	margin-top: 30px;
}

.button__hero {
	margin-top: 40px;
	max-width: 358px;
}

.hero__img {
	display: flex;
	align-items: flex-end;
	gap: 8px;
	position: relative;
	z-index: 0;
	left: 46px;
	right: 47px;
}

.hero__img::before {
	content: '';
	position: absolute;
	left: -46px;
	right: -47px;
	bottom: 0px;
	z-index: -1;
	width: 377px;
	height: 372px;
	border-radius: 20px;
	background: #CEAAD0;
}

.img__play-content {
	margin-bottom: 51px;
	max-width: 200px;
	max-height: 100px;
	/*border: 1px solid #000;*/
	display: flex;
	align-items: center;
	gap: 10px;
}

.img__play-content--mobile {
	display: none;
}

.play-content--circle {
	position: relative;
	z-index: 1;
	background: var(--accent-bg);
	max-width: 78px;
	max-height: 78px;
	border-radius: 50%;
	padding: 26.1px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.play-content--circle::before {
	content: ' ';
	position: absolute;
	z-index: -1;
	opacity: 0;
	border: 1px solid var(--accent-color);
	border-radius: 50%;
	/*! равномерное растоение со всех сторон, при POSITION*/
	inset: 5px;
	transition: var(--transition);
}

.play-content--circle:hover::before {
	opacity: 1;
}

.play-content__text {
	color: var(--general-text);
}

/*==========================Майн==============================================*/





/*==========================ФУТЕР 50% сам (верстку сам)=================================*/
.footer {
	background: #AB8261;
	padding: 30px 0 60px;
}

.footer__inner {
	/*max-height: 253px;*/
	/*! Смотреть при адаптиве */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: var(--general-bg);
	line-height: 1.5;
	column-gap: 16px;
}

.footer__about-company {
	margin-top: 5px;
}

.about-company__social {
	margin-top: 20px;
}

.footer__nav,
.footer__adress,
.tel {
	padding-top: 30px;

}

.footer__nav {
	grid-column: -4/-3;
	grid-row: 1/3;
	;
}

.nav__list :nth-child(2) {
	margin-block: 10px;
}

.adress__list li {
	padding-bottom: 10px;
}

.adress__list li>img {
	margin-right: 8px;
}

.adress__list :first-child {
	line-height: 1.6;
}

.tel {
	text-align: right;
	padding-bottom: 47px;

}

.tel a {
	line-height: 1.6;
	font-weight: 500;
	font-size: 25px;
	transition: var(--transition);
}

.tel a:hover {
	color: var(--accent-color);
}

.copyright {
	grid-column: -2/-1;
	color: #DEC5B1;
	text-align: right;
	font-size: 16px;
	line-height: 1.5;
	/*margin-top: 47px;*/
}

.about-company__social :nth-child(2) {
	margin-inline: 15px;
}

.social__link path {
	transition: var(--transition)
}

.social__link :hover path {
	fill: var(--accent-color);
}

/*======================Медиа запросы, адаптив футера=================================*/
@media (width <=1200px) {
	.footer__inner {
		gap: 0;
	}

	.adress__list li>img {
		margin-right: 0px;
	}
}

@media (max-width: 1116px) {
	.footer__inner {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1fr;
		justify-items: center;
		gap: 5px;
	}

	.footer__nav {
		/*grid-column: 1/2;
		grid-row: 2/3;*/
		grid-area: 2/ 1/ 3/ 2;
	}

	.footer__adress {
		/*grid-column: -2/-1;*/
		/*grid-row: 2/3;*/
		grid-area: 2/ -2;
		width: 230px;
	}

	.footer__tel-copyright {
		grid-area: 2/-3;
	}

	.footer__about-company {
		grid-area: 1/ span 3;
		text-align: center;
	}
}

@media (max-width: 870px) {
	.footer {
		padding-bottom: 30px;
	}

	.footer__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.adress__list li {
		font-size: 13px;

	}

	.adress__list :last-child {
		padding-top: 0px;
	}

	.footer__nav {
		padding-block: 15px 0;
		text-align: center;
	}

	.footer__adress {
		text-align: center;
	}

	.tel {
		text-align: center;
		padding-block: 0px 0px;
	}

	.copyright {
		padding-top: 60px;
	}
}


/*======================медиа запросы адаптив хедера=================================*/

/*! при ширине 900пх срабатывает: 1. убирается header__nav 2. меню в навигации выстраивается в столбик 3. пункт 1 и 2 появляется когда накидывается доп.класс на боди*/

@media (max-width: 1209px) {
	.hero__inner {
		display: flex;
		align-items: flex-start;
		gap: 10px;
	}

	.hero__img {
		display: flex;
		flex-direction: column;
	}

	.hero__img::before {
		content: '';
		position: absolute;
		bottom: 136px;
	}

}

@media (max-width: 930px) {
	.hero__img {
		align-items: flex-start;
	}

	.hero__img>img {
		width: 80%;
	}

	.hero__img::before {
		display: none;
	}

	.hero__inner {
		display: flex;
		align-items: flex-start;

	}
}

@media (max-width: 900px) {
	.header__nav {
		background: var(--general-bg);
		position: fixed;
		inset: 0;
		z-index: 10;
		padding: 26vh 15px 30px;
		font-size: 26px;
		/*спрятали шторку, используем эти стили т.к их можно анимировать*/
		transform: translateY(-50%);
		opacity: 0;
		visibility: hidden;
		transition: var(--transition);
	}

	.nav__menu {
		/*display: block;*/
		flex-direction: column;
		align-items: center;
	}

	.body--opened-menu .header__nav {
		/*выезд шторки, те же элименты стиля, только при работе доп класса на боди*/
		transform: translateY(0%);
		opacity: 1;
		visibility: visible;
	}

	.body--opened-menu .burger-top {
		position: fixed;
		right: 45px;
	}

	.burger-top {
		display: flex;
	}


}

@media (max-width: 870px) {
	.hero__img {
		display: none;
	}

	.hero__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.hero__text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hero__title {
		max-width: 600px;
	}

	.img__play-content {
		display: none;
	}

	.img__play-content--mobile {
		display: flex;
		margin: 30px 0px;

	}

	.button__hero {
		margin-top: 0px;
	}

	.hero__title {
		font-size: 12vw;
	}
}

@media (max-width: 400px) {

	.play-content--circle {
		width: 58px;
		height: 58px;
	}

	.hero__img--play {
		width: 20px;
		height: 24px;
	}

	.img__play-content--mobile {
		font-size: 12px;
	}
}